@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-navbar-font: "Quicksand", sans-serif;  
  --color-footer-color: #212529;
  --color-logo-color:#00D2FF;
}
